@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html,
body {
  overflow-x: hidden !important;
  background: black;
  font-family: 'Source Sans Pro', sans-serif;
}

nav {
  background-color: aliceblue !important;
  color: black;
}

nav ul a {
  color: black;
  text-decoration: none;
  transition: none;
}

.fis-logo {
  margin-left: -70px;
  height: 25px;
  width: auto;
}

.collapsible-header,
.collapsible-body,
.collapsible,
ul.collapsible>li {
  box-shadow: none !important;
  background: #181818;
  color: white;
}

.register-btn {
  background-color: #4bcd3e;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 6px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
}

.inline-icon {
  vertical-align: bottom;
  font-size: 22px !important;
}

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}

@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}

@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */
}


@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */

  .responsive-img {
    width: 60%;
    margin-top: 40px;
  }

  .responsive-img1 {
    width: 100%;
    margin-top: -30px;
  }

  #landing-img .responsive-img {
    width: 100%;
    margin-top: 30px;
  }

  #landing-img .responsive-img1 {
    margin-top: 8px;
  }

  h1 {
    font-size: 24px;
  }

  .responsive-img3 {
    width: 150%;
    margin: -5px 0 0 -81px;
  }

  h2 {
    font-size: 24px;
    font-weight: bolder;
  }

  .section-text {
    font-size: 18px;
  }

  .card-panel {
    margin-top: -40px;
  }

  .card-panel img {
    height: 80%;
    width: 80%;
    margin: 35px 0 0 20px;
  }

  .card-panel a {
    justify-content: center;
    display: flex;
    top: 50%;
    bottom: 50%;
    /* margin: 10px 0 0 65px; */
  }

  #timeline {
    margin-top: -55px;
  }

  #faqs ul li {
    background: #181818;
  }

  .collapsible {
    border: 1px solid black;
  }

  .collapsible-header {
    border-bottom: 1px solid black;
  }

  .collapsible-header i {
    margin: 15px 25px 0 0;
  }

  .collapsible-header span {
    color: #4bcd3e;
  }

  .collapsible li.active i {
    -ms-transform: rotate(180deg);
    /* IE 9
  */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }

  .rotate {
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .collapsible-header i {
    position: absolute;
    right: -4px;
    color: #4bcd3e;
  }

  #collapse {
    display: none;
  }

  .sec-1 {
    margin-top: -10px;
  }

  #contactus #connected {
    font-size: 16px;
    font-weight: bolder;
  }

  /* "padding:13px 0px 16px 10px;background: #181818;display:flex;justify-content:center;border: 5px solid black " */

}